html{
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: #414141;
        border-radius: 10px;
    }
}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #ffffff;
}

.wrapper {
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #6b6a6a;
        border-radius: 10px;
    }
}